[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RulesTools"]
	path = RulesTools
	url = https://github.com/nikolett0203/rulestools
